<h1>Your Summary for <%= @post.markdown_title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= @summary.description %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@summary).edit? %>
      <%= link_to "Edit", edit_post_summary_path(@post, @summary), class: 'btn btn-success' %>
    <% end %>
    <%= link_to "Return to post", topic_post_path(@topic, @post), class: 'btn btn-success' %>
  </div>
</div>