<% if @comment.destroyed? %>
   $('#comment-' +<%= @comment.id %>).fadeOut("slow");
   $('.js-comments-count').html("<%= pluralize(@comment.user.comments.count, 'comment') %>");
 <% else %>
   $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] = "There was an error deleting the comment" %></div>");
 <% end %>